@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Cherry+Bomb+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.bg_green{
    background-color: #9ACC44;
}
.container{
    max-width: 1140px !important;
}
.card-modal {
    background-color: #A4D156;
    border: 1px solid #FFFFFF99;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
}
.card-modal:hover{
    background: #5BA72B;
}
.card-modal:hover .light svg path{
    opacity: unset;
}
.card-modal .light svg path{
transition: .5s;
}
.cloud-1{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 0;
}
.cloud-2{
    position: absolute;
    top: 2%;
    right: -7%;
    z-index: 0;
}
.head-text{
    font-family: Cherry Bomb One;
    font-size: 60px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-shadow: 1px 4px 0px #5BA72B;
}

.card-heading {
    font-family: Cherry Bomb One;
    font-size: 60px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

.count {
    font-family: Cherry Bomb One;
    font-size: 70px;
    font-weight: 400;
    line-height: 101px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.text-3 {
    font-family: Balsamiq Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.text-4 {
    font-family: Balsamiq Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 655px;
}

.opacity0_3 {
    opacity: 0.3;
}
/* card */
.card-sec2{
    display: inline-flex;
padding: 75px 65px;
justify-content: center;
align-items: center;
gap: 95px;
border-radius: 19px;
border: 7px solid #FFF;
background: #5BA72B;
}
.text-sec2{
    color: #FFF;
font-family: Balsamiq Sans;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.text-para{
    color: rgba(255, 255, 255, 0.80);
font-family: Balsamiq Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
max-width: 655px;
}
.heading-text{
    color: #FFF;
font-family: Balsamiq Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 24px */
}
.text-under{
    color: #FFF;
font-family: Balsamiq Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cross{
    top: 5%;
    right: 5%;
}
.cross1{
    top: 5%;
    right: 5%;
}
.cross2{
    top: 5%;
    right: 5%;
}
.cross3{
    top: 5%;
    right: 5%;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.c-p{
    cursor: pointer;
}
@media (max-width:400px) {
    .card-heading{
        display: none;
    }
    .center{
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
}
@media (max-width:576px) {
    .card-sec2{
        padding: 30px 20px;
    }
}
@media (min-width:800px) {
    .d-mid-flex{
        display: flex;
    }
}